<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key="jiraURL" value=""/>
		<add key="jiraUser" value=""/>
		<add key="jApiKey" value=""/>

		<add key="GUW" value="101"/>
		<add key="EBM" value="101"/>
		<add key="ETD" value="101"/>
		<add key="ES" value="91"/>
		
	</appSettings>
	
</configuration>